/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --accent-color: #ff0070;
  --title-color: #df00ff;
  --bg-accent-invert-color: #000028;
  --bg-text-color: #ff0070;
  --text-color: #f1b2ce;
  --border-hover: #ff007040;

  --bg-page-picture: url(../images/cover-image-dark.png);
}

.theme_dark .header__sub_element::before {
  content: "REC";
  position: absolute;
  right: 28px;
  display: inline-block;
}

.theme_dark .header__sub_element::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-inline-start: 8px;
  border-radius: 5px;
  box-shadow: -1px -1px 2px 2px var(--accent-color);
  background-color: var(--accent-color);
}