/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --accent-color: #ff0070;
  --title-color: #db00ff;
  --bg-accent-invert-color: #000028;
  --bg-text-color: #ff0070;
  --text-color: #f1b2ce;
  --border-hover: #ff007040;

  --bg-page-picture: url(../images/cover-image-dark.png);
}

.page.theme_dark .header__sub_element {
  display: block;
}