/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  height: 100vh;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  padding-inline: 10px;
  padding-block: 10px;
  font-size: 18px;
  background-image: var(--bg-page-picture);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  height: calc(100vh - 20px);
}

.header__sub_element {
  position: absolute;
  top: 0.555em;
  right: 0.555em;
  width: 1.388em;
  height: 1.388em;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', 'Fira Code', sans-serif;
  font-size: inherit;
}

.header__theme-menu {
  margin-block-start: 3.56em;
  margin-block-end: 3.75em;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 0.72em;
  padding-block: 0.13em 0.18em;
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', 'Fira Code', sans-serif;
  font-size: 1em;
  line-height: 1em;
  text-transform: lowercase;
  background: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover);
  cursor: pointer;
}

.header__theme-menu-button:disabled {
  border-color: var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__footer__title {
  color: var(--title-color);
  font-family: 'IBM Plex Mono', 'Fira Code', sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  /* 116px */
  line-height: 82.5%;  /* 95.7px */
  text-shadow: 4px 4px 0px var(--bg-text-color);
}

.header__title {
  padding-block-end: 3.48rem;
}

.header__title__description {
  width: 355px;
  margin-block-end: 1.65em;
}

.title-decor {
  color: var(--bg-accent-invert-color);
  font-family: 'IBM Plex Mono', 'Fira Code', sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.32em;
  /* 130% */
  background-color: var(--bg-text-color);
}

.sub_element_bottom {
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.main {
  margin-block-end: 2.74em;
}

.main__title {
  margin: 0;
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', 'Fira Code', sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.3em;
}

.main__section {
  display: grid;
  gap: 1.11em;
  margin-block-end: 2.76em;
}

.main__sub-title {
  margin-block: 0 0.55em;
}

.main__sub-title-plus {
  margin-block: 0;
}

.main__description {
  margin: 0;
  color: var(--text-color);
  font-family: 'IBM Plex Mono', 'Fira Code', sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  /* 130% */
}

.link-accent {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 1px var(--bg-text-color);
}

.link-accent:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.link-accent:focus-visible {
  outline: 1px solid var(--text-color);
}

.main__sub-subtitle {
  margin-block: 0 0.55em;
  font-weight: 400;
}

.gallery {
  display: grid;
  gap: 0.55em;
}

.picture {
  width: 99.9%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  height: 100vh;
}

.footer__sub_element {
  justify-self: end;
  width: 1.388em;
  height: 1.388em;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.footer_title {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 598px;
  margin-block-end: 0;
}

@media (width >=768px) {
  .page {
    margin-inline: 20px;
    margin-block: 20px;
  }

  .header__sub_element {
    top: 1.1em;
    right: 1.1em;
  }

  .header__theme-menu {
    margin-inline-end: 0;
    margin-block-start: 9.6em;
    margin-block-end: 9.7em;
  }

  .header__footer__title {
    margin-inline-start: -19px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    /* 120px */
    word-spacing: -9px;
  }

  .header__title {
    margin-block-end: 8.9rem;
  }

  .header__title__description {
    justify-self: end;
    width: 50%;
    margin-block-end: 7.6em;
  }

  .main {
    display: grid;
    gap: 4.35em;
    margin-block: 4.2em;
  }

  .main__section {
    grid-template-columns: 1fr 2fr;
    margin-block-end: 0;
  }

  .why {
    grid-template-rows: repeat(2, min-content);
  }

  .why .main__title {
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .what {
    grid-template-rows: min-content repeat(3, auto);
    grid-template-areas:
      ' title_what . '
      ' multitask multitask '
      ' food food '
      ' gadget gadget ';
  }

  .what .main__title {
    grid-area: title_what;
  }

  .multitask {
    grid-area: multitask;
  }

  .food {
    grid-area: food;
  }

  .gadget {
    grid-area: gadget;
  }

  .how .main__title {
    grid-row-start: 1;
    grid-row-end: span 6;
  }

  .pictures {
    margin-block-start: 3px;
  }

  .gallery {
    grid-template-areas:
      ' sunset sunset ice-cream '
      ' tape books ice-cream '
      ' tape street street ';
    justify-items: stretch;
    align-items: stretch;
    gap: 20px;
    margin-block-start: 20px;
  }

  .picture {
    inline-size: 100%;
    block-size: 100%;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .footer_title {
    margin-inline-start: -5px;
    margin-block-start: 3px;
    letter-spacing: -2px;
    min-block-size: 934px;
  }
}

@media (width >=1024px) {
  .header__theme-menu {
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 15.3em;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    gap: 0 13px;
  }

  .header__footer__title {
    word-spacing: 0;
  }

  .header__title {
    margin-block-end: 0.6em;
  }

  .header__title__description {
    margin-block-end: 5em;
  }

  .main {
    margin-block: 4.4em;
  }

  .what {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-template-areas:
      'title_what . .'
      'multitask food gadget';
  }

  .main__description {
    word-spacing: -1px;
  }

  .footer_title {
    letter-spacing: normal;
    min-block-size: 668px;
  }
}